<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:head>
   <title>JSF Tutorial!</title>
   	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/css/primefaces.css" />
	<link rel="stylesheet"
		href="#{request.contextPath}/themes/#{themeSwitcherBean.theme}/skin.css" />
   
</h:head>
<h:body>
<h:form>
#{helloWorldBean.message}
<p:inputText value="ravi"></p:inputText>
<p:accordionPanel>
<p:tab title="First Tab Title">
<h:outputText value= "Lorem"/>
...More content for first tab
</p:tab>
<p:tab title="Second Tab Title">
<h:outputText value="Ipsum" />
</p:tab>
//any number of tabs
</p:accordionPanel>
</h:form>   
</h:body>
</html>