<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>User Profile</title>
</h:head>
<h:body>
	<table>
		<tr>
			<td width="100"><a href="./home">Home</a></td>
			<td width="200"><a href="./myconstituency">My Constituency</a></td>
			<td width="100"><a href="./profile">My Profile</a></td>
		</tr>
	</table>
	<h:form id="userProfileForm">
		<p:messages id="messages" autoUpdate="true" closable="true" />
		<h:panelGrid columns="2" cellpadding="5">
			<h:outputLabel value="" />
			<p:graphicImage value="#{userProfileBean.loggedInUser.profilePic}" />
			<h:outputLabel for="name" value="Name*" />
			<p:inputText id="name" value="#{userProfileBean.loggedInUser.name}"
				label="Name">
			</p:inputText>
			<h:outputText value="Gender : " />
			<p:selectOneMenu value="#{userProfileBean.loggedInUser.gender}">
				<f:selectItem itemLabel="Not Specified" itemValue="NotSpecified" />
				<f:selectItem itemLabel="Male" itemValue="Male" />
				<f:selectItem itemLabel="Female" itemValue="Female" />
			</p:selectOneMenu>
			<h:outputLabel for="mobile" value="Mobile" />
			<p:inputText id="mobile"
				value="#{userProfileBean.loggedInUser.mobile}" label="Mobile">
			</p:inputText>
			<h:outputText value="Date of Birth*" />
			<p:inputMask id="dob" value="#{userProfileBean.dateOfBirth}"
				mask="99/99/9999" />
		</h:panelGrid>
		<p:watermark for="dob" value="DD/MM/YYYY" />

		<p:panelGrid columns="2" cellpadding="5">
			<f:facet name="header">  
        		Select the place where you registered as voter  
    		</f:facet>
			<h:outputLabel for="state" value="State*" />
			<p:selectOneMenu id="state"
				value="#{userProfileBean.selectedStateId}" effect="fold"
				editable="false">
				<f:selectItem itemLabel="Select State" itemValue="0" />
				<f:selectItems value="#{userProfileBean.stateList}" var="oneState"
					itemLabel="#{oneState.name}" itemValue="#{oneState.id}" />

				<p:ajax event="change"
					update=":userProfileForm:assemblyConstituency"
					listener="#{userProfileBean.handleStateChange}" />
			</p:selectOneMenu>

			<h:outputLabel for="assemblyConstituency"
				value="Assembly Constituency*" />
			<p:selectOneMenu id="assemblyConstituency"
				disabled="#{!userProfileBean.enableAssemblyConstituencyCombo}"
				value="#{userProfileBean.selectedAssemblyConstituencyId}"
				effect="fold" editable="false">
				<f:selectItem itemLabel="Select Assembly Constituency" itemValue="0" />
				<f:selectItems value="#{userProfileBean.assemblyConstituencyList}"
					var="oneAssemblyConstituency"
					itemLabel="#{oneAssemblyConstituency.name}"
					itemValue="#{oneAssemblyConstituency.id}" />

			</p:selectOneMenu>


		</p:panelGrid>
		<p:commandButton id="saveProfile" value="Save Profile"
			actionListener="#{userProfileBean.saveProfile}" />
		<p:tooltip for="saveProfile">
        Save profile  
    	</p:tooltip>

	</h:form>
</h:body>
</html>