<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Vote Now</title>
	<style>
	.topAlignPanelColumns td {
	vertical-align: top;
}
	
	</style>
</h:head>
<h:body>
	<h:form id="votingform">
		<table>
		<tr>
		<td width="100"><a href="../../home">Home</a></td>
		<td width="200"><a href="../../myconstituency">My
		Constituency</a></td>
		<td width="100"><a href="../../profile">My Profile</a></td>
		
		</tr>
		</table>
		<p:messages id="messages" autoUpdate="true" closable="true" />
		<table>
		<tr valign="top">
		<td><p:panelGrid columns="1" style="margin-bottom:10px"
			cellpadding="5" columnClasses="label, column">
			<f:facet name="header">  
        Vote for your Local candidate  
    </f:facet>
			<p:selectOneListbox id="scroll"
				value="#{votingBean.selectedCandidate}"
				converter="#{votingBean.candidateConvertor}" var="p"
				style="height:#{votingBean.height}px;width:400px;">
				<f:selectItems value="#{votingBean.candidates}" var="candidate"
					itemLabel="#{candidate.name}" itemValue="#{candidate}">
				</f:selectItems>
				<!-- 
							<p:column style="width:25%">
								<p:graphicImage value="#{p.profilePic}" height="50px" />
							</p:column>
							 -->

				<p:column style="width:50%">
					<p:outputLabel value="#{p.id}-#{p.name}">
						<p:effect event="click" for="inputPanel" type="slide">
							<f:param name="mode" value="'show'" />
							<f:param name="direction" value="'top'" />
						</p:effect>
						<p:effect event="click" for="result" type="slide">
							<f:param name="mode" value="'hide'" />
							<f:param name="direction" value="'top'" />
						</p:effect>
					</p:outputLabel>


				</p:column>
				<p:column style="width:25%">

					<p:graphicImage value="#{p.partySymbolUrl}"
						height="#{votingBean.oneLineHeight}px">
						<p:effect event="click" for="inputPanel" type="slide">
							<f:param name="mode" value="'show'" />
							<f:param name="direction" value="'top'" />
						</p:effect>
						<p:effect event="click" for="result" type="slide">
							<f:param name="mode" value="'hide'" />
							<f:param name="direction" value="'right'" />
						</p:effect>

					</p:graphicImage>



				</p:column>

				<p:column style="width:25%">
					<p:graphicImage id ="test-#{p.id}"
						value="https://lh3.googleusercontent.com/-g1H59uEdLls/UokhOptvj9I/AAAAAAAANqo/Y-0YNUITvfs/s847/oval-black.png"
						height="50px">
						<p:effect event="click" for="inputPanel" type="slide">
							<f:param name="mode" value="'show'" />
							<f:param name="direction" value="'top'" />
						</p:effect>
						<p:effect event="click" for="result" type="slide">
							<f:param name="mode" value="'hide'" />
							<f:param name="direction" value="'right'" />
						</p:effect>
					</p:graphicImage>
				</p:column>

			</p:selectOneListbox>
		</p:panelGrid> <p:commandButton id="publicVote" disabled="#{!votingBean.canVote}"
			value="Vote Publically" update=":votingform"
			actionListener="#{votingBean.votePublically}">
		</p:commandButton> <p:tooltip for="publicVote">
        If you use this option people <br />will be able to see whome you have voted  
    	</p:tooltip> <p:commandButton id="privateVote" update=":votingform"
			disabled="#{!votingBean.canVote}" value="Vote Anonymously"
			actionListener="#{votingBean.voteAnonymously}" /> <p:tooltip
			for="privateVote">
        If you use this option people <br />will NOT be able to see whome you have voted  
    	</p:tooltip></td>
		<td>
		<h:panelGrid columns="2">
		<p:outputPanel id="inputPanel" layout="block"
			style="width: 400px; height: 200px; display: none;">
			<p:panel header="Panel inside OutputPanel">
				<h1>Applying effect on output-panel.</h1>
			</p:panel>
		</p:outputPanel>
		    	  
		<h:panelGrid id="result" widgetvar = "result">
		<p:pieChart id="sample" value="#{votingBean.pieModel}" legendPosition="w"  
                title="#{votingBean.assemblyConstituency.name}" style="width:400px;height:300px" /> 
                <!-- 
			<p:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
				<f:facet name="header">Result</f:facet>

				<p:dataTable var="oneCandidateVote"
					value="#{votingBean.candidateVotes}">
					<p:column headerText="Party">
						<h:outputText value="#{oneCandidateVote.partyName}" />
					</p:column>

					<p:column headerText="Candidate Name">
						<h:outputText value="#{oneCandidateVote.candidateName}" />
					</p:column>

					<p:column headerText="Vote Percent">
						<h:outputText value="#{oneCandidateVote.votePercent}">
							<f:convertNumber pattern="#0.000" />
						</h:outputText>
					</p:column>

				</p:dataTable>
			</p:panelGrid>
			<p:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
				<f:facet name="header">Age Wise Votes</f:facet>
				<p:dataTable var="oneAgeVote" value="#{votingBean.ageVotes}">
					<p:column headerText="Party">
						<h:outputText value="#{oneAgeVote.description}" />
					</p:column>

					<p:column headerText="Vote Percent">
						<h:outputText value="#{oneAgeVote.votePercent}">
							<f:convertNumber pattern="#0.000" />
						</h:outputText>
					</p:column>

				</p:dataTable>
			</p:panelGrid>
			<p:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
				<f:facet name="header">Gender Wise Votes</f:facet>
				<p:dataTable var="oneAgeVote" value="#{votingBean.genderVotes}">
					<p:column headerText="Party">
						<h:outputText value="#{oneAgeVote.description}" />
					</p:column>

					<p:column headerText="Vote Percent">
						<h:outputText value="#{oneAgeVote.votePercent}">
							<f:convertNumber pattern="#0.000" />
						</h:outputText>
					</p:column>

				</p:dataTable>
			</p:panelGrid>

			<p:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
				<f:facet name="header">Public/Anonymous Votes</f:facet>
				<p:dataTable var="oneAgeVote"
					value="#{votingBean.privatePublicVotes}">
					<p:column headerText="Party">
						<h:outputText value="#{oneAgeVote.description}" />
					</p:column>

					<p:column headerText="Vote Percent">
						<h:outputText value="#{oneAgeVote.votePercent}">
							<f:convertNumber pattern="#0.000" />
						</h:outputText>
					</p:column>

				</p:dataTable>
			</p:panelGrid>
			<p:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
				<f:facet name="header">Recent Votes</f:facet>
				<p:dataTable var="oneUserVote" value="#{votingBean.userVotes}">
					<p:column>
						<p:graphicImage width="50" value="#{oneUserVote.profilePic}" />
					</p:column>
					<p:column>
						<h:outputText value="#{oneUserVote.votingMessage}" />
					</p:column>

				</p:dataTable>
			</p:panelGrid>
			 -->
		</h:panelGrid> 
		
		</h:panelGrid> 
		










		</td>
		</tr>
		</table>


	</h:form>
</h:body>
</html>