<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Vote Now</title>
	<style>
	.topAlignPanelColumns td {
	vertical-align: top;
}
	
	</style>
<link rel="stylesheet" href="/vote/css/v2/reset.css" />
<link rel="stylesheet" href="/vote/css/v2/text.css" />
<link rel="stylesheet" href="/vote/css/v2/960_24_col.css" />
<link rel="stylesheet" href="/vote/css/v2/demo.css" />
<link rel="stylesheet" href="/vote/css/v2/style.css" />
	
</h:head>
<h:body>
<div class="outerWrapper">
	<div class="">
	<!-- menu starts -->
    <div class="menuWrapper">
    <div class="container_24">
    <div class="grid_24 mainMenu">
    <div class="grid_17 push_7 omega ">
        	<div class="menu">
            	<ul>
                <li><a href="/vote/">Home</a></li>
                <li><a href="/vote/myconstituency">My Constituency</a></li>
                <li><a href="/vote/profile">Profile</a></li>
                <li><a href="/vote/stats/delhi">Delhi Stats</a></li>
                <li><a href="/vote/logout?v4d_redirect_url=/vote/home">Logout</a></li>
              </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
        <div class="clear"></div>
    </div>
    </div>
    <!-- menu ends -->
    
    <!-- header starts -->
    <div class="headerWrapper">
    <div class="container_24" style="width:1160px;">
    <div class="grid_24 header panel" style="width:1150px;">
    	<div class="grid_7 alpha">
        	<div class="logo"><a href="#"><img src="/vote/images/v2/index.png" width="179px" /></a></div>
        </div>
        <div class="grid_8" style="width:650px;"> 
        
        <div class="introContent">
        	<h5>Edit your Profile</h5>
    	<p:blockUI block="userProfileForm" trigger=":userProfileForm:saveProfile" />
    <h:form id="userProfileForm">
		<p:messages id="messages" autoUpdate="true" closable="true" />
		<h:panelGrid columns="2" cellpadding="5">
			<h:outputLabel value="" />
			<p:graphicImage value="#{userProfileBean.loggedInUser.profilePic}" height="200" />
			<h:outputLabel for="name" value="Name*" />
			<p:inputText id="name" value="#{userProfileBean.loggedInUser.name}"
				label="Name">
			</p:inputText>
			<h:outputText value="Gender : " />
			<p:selectOneMenu value="#{userProfileBean.loggedInUser.gender}">
				<f:selectItem itemLabel="Not Specified" itemValue="NotSpecified" />
				<f:selectItem itemLabel="Male" itemValue="Male" />
				<f:selectItem itemLabel="Female" itemValue="Female" />
			</p:selectOneMenu>
			<h:outputLabel for="mobile" value="Mobile" />
			<p:inputText id="mobile"
				value="#{userProfileBean.loggedInUser.mobile}" label="Mobile">
			</p:inputText>
			<h:outputText value="Date of Birth*" />
			<p:inputMask id="dob" value="#{userProfileBean.dateOfBirth}"
				mask="99/99/9999" />
		</h:panelGrid>
		<p:watermark for="dob" value="DD/MM/YYYY" />

	<h:outputLabel value="It is compulsory to select you assembly constituency before you can vote" />
		<p:panelGrid columns="2" cellpadding="5">
			<f:facet name="header">  
        		Select the place where you registered as voter  
    		</f:facet>
    		
    		<!-- 
			<h:outputLabel for="state" value="State*" />
			<p:selectOneMenu id="state"
				value="#{userProfileBean.selectedStateId}" effect="fold"
				editable="false">
				<f:selectItem itemLabel="Select State" itemValue="0" />
				<f:selectItems value="#{userProfileBean.stateList}" var="oneState"
					itemLabel="#{oneState.name}" itemValue="#{oneState.id}" />

				<p:ajax event="change"
					update=":userProfileForm:assemblyConstituency"
					listener="#{userProfileBean.handleStateChange}" />
			</p:selectOneMenu>
 			-->
			<h:outputLabel for="assemblyConstituency"
				value="Assembly Constituency*" />
			<p:selectOneMenu id="assemblyConstituency"
				disabled="#{!userProfileBean.enableAssemblyConstituencyCombo}"
				value="#{userProfileBean.selectedAssemblyConstituencyId}"
				effect="fold" editable="false">
				<f:selectItem itemLabel="Select Assembly Constituency" itemValue="0" />
				<f:selectItems value="#{userProfileBean.assemblyConstituencyList}"
					var="oneAssemblyConstituency"
					itemLabel="#{oneAssemblyConstituency.name}"
					itemValue="#{oneAssemblyConstituency.id}" />

			</p:selectOneMenu>


		</p:panelGrid>
		<p:commandButton id="saveProfile" value="Save Profile"
			actionListener="#{userProfileBean.saveProfile}" />
		<p:tooltip for="saveProfile">
        Save profile  
    	</p:tooltip>

	</h:form>
    	
    	
				
        </div>
        
        
        </div>
        
        
    </div>
    </div>
    <div class="clear"></div>
    </div>
    <!-- header ends -->


    <!-- footer starts -->
    <div class="footerWrapper">
    <div class="container_24">
    <div class="grid_24 panel footer">
    	Copyright &copy; 2013 <a href="#">www.vote4delhi.com</a>. All Rights Reserved.
    </div>
    </div>
    <div class="clear"></div>
    </div>
    <!-- footer ends -->
    
</div>
</div>
	
</h:body>
</html>
