<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Vote for #{votingBean.assemblyConstituency.name} - Delhi and Be part of Democracy</title>
	<style>
	.topAlignPanelColumns td {
	vertical-align: top;
}

	div.inline { float:right; color: #aaaaaa;text-shadow: activeborder; }
	.clearBoth { clear:both; }
	
	</style>
<link rel="stylesheet" href="/vote/css/v2/reset.css" />
<link rel="stylesheet" href="/vote/css/v2/text.css" />
<link rel="stylesheet" href="/vote/css/v2/960_24_col.css" />
<link rel="stylesheet" href="/vote/css/v2/demo.css" />
<link rel="stylesheet" href="/vote/css/v2/style.css" />
	
<script src="/vote/js/v2/jquery.timeago.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	  jQuery("abbr.timeago").timeago();
	});
</script>
	
	
		<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=618283854899839";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	
<meta name="og:image" property="og:image" content="https://lh3.googleusercontent.com/-kjbDd9TN4d8/UotFoXLWOLI/AAAAAAAANrE/nxdLkt8GnXA/s720/evm.jpg"/>
<meta name="og:image:width" property="og:image:width" content="990" />
<meta name="og:title"  property="og:title" content="Vote for #{votingBean.assemblyConstituency.name} - Delhi and Be part of Democracy"/>
<meta name="og:url" property="og:url" content="#{votingBean.currentUrl}"/>
<meta name="og:site_name" property="og:site_name" content="vote4delhi.com"/>
<meta name="og:type" property="og:type" content="website"/>
<meta name="og:description" property="og:description" content="India's biggest online voting system for Delhi Election Now you can vote for Party/Candidate by their Assembly Constituency and see all kinds of stats in realtime. Voting is transparent and Right to Recall is core part of it, it means you can change your vote any time."/>
<meta name="fb:app_id" property="fb:app_id" content="618283854899839"/>


</h:head>
<h:body>
<div class="outerWrapper">
	<div class="">
	<!-- menu starts -->
    <div class="menuWrapper">
    <div class="container_24">
    <div class="grid_24 mainMenu">
    <div class="grid_17 push_7 omega ">
        	<div class="menu">
            	<ul>
                <li><a href="/vote/">Home</a></li>
                <li><a href="/vote/myconstituency">My Constituency</a></li>
                <li><a href="/vote/profile">Profile</a></li>
                <li><a href="/vote/stats/delhi">Delhi Stats</a></li>
                <p:outputPanel rendered="#{!votingBean.userLoggedIn}">
                <li><a href="/vote/login/facebook?v4d_redirect_url=#{currentUrl}">Login</a></li>
                </p:outputPanel>
                <p:outputPanel rendered="#{votingBean.userLoggedIn}">
                <li><a href="/vote/logout?v4d_redirect_url=#{currentUrl}">Logout</a></li>
                </p:outputPanel>

              </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
        <div class="clear"></div>
    </div>
    </div>
    <!-- menu ends -->
    
    <!-- header starts -->
    <div class="headerWrapper">
    <div class="container_24" style="width:1160px;">
    <div class="grid_24 header panel" style="width:1150px;">
    	<div class="grid_7 alpha">
        	<div class="logo"><a href="#"><img src="/vote/images/v2/index.png" width="179px" /></a></div>
        	<br></br>
        	<div class="fb-like" data-href="#{votingBean.currentUrl}" data-width="150" data-show-faces="true" data-send="true"></div>
        	<br></br>
        	<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="#{votingBean.currentUrl}" data-text="Now vote on India's biggest online voting platform. #vote4delhi? #{votingBean.currentUrl}" >Tweet Now</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="grid_8" style="width:450px;"> 
        
        <div class="introContent">
        	<h5>#{votingBean.assemblyConstituency.name}</h5>
    <p:messages id="messages" autoUpdate="true" closable="true" />
    <p:blockUI block="votingForm" trigger=":votingForm:publicVote" />  
    <p:blockUI block="votingForm" trigger=":votingForm:privateVote" />  
    <h:form id="votingForm" >
    <h:panelGrid  id="votingPanel" rendered="#{!votingBean.showResults}">
            <p:panelGrid columns="1" style="margin-bottom:10px"
			cellpadding="5" columnClasses="label, column">
			<f:facet name="header">  
        Vote for your Local candidate  
    </f:facet>
			<p:selectOneListbox id="scroll"
				value="#{votingBean.selectedCandidate}"
				converter="#{votingBean.candidateConvertor}" var="p"
				style="height:#{votingBean.height}px;width:400px;">
				<f:selectItems value="#{votingBean.candidates}" var="candidate"
					itemLabel="#{candidate.name}" itemValue="#{candidate}">
				</f:selectItems>
				<!-- 
							<p:column style="width:25%">
								<p:graphicImage value="#{p.profilePic}" height="50px" />
							</p:column>
							 -->

				<p:column style="width:50%">
					<p:outputLabel value="#{p.name}"  >
					<!--
						<p:effect event="click" for=":candidateInfoPanel" type="slide" >
							<f:param name="mode" value="'show'" />
							<f:param name="direction" value="'top'" />
						</p:effect>
						<p:effect event="click" for="result" type="slide">
							<f:param name="mode" value="'hide'" />
							<f:param name="direction" value="'bottom'" />
						</p:effect>
						-->
					</p:outputLabel>


				</p:column>
				<p:column style="width:25%">

					<p:graphicImage value="#{p.partySymbolUrl}"
						height="#{votingBean.oneLineHeight}px">
						<!--
						<p:effect event="click" for=":candidateInfoPanel" type="slide">
							<f:param name="mode" value="'show'" />
							<f:param name="direction" value="'top'" />
						</p:effect>
						<p:effect event="click" for="result" type="slide">
							<f:param name="mode" value="'hide'" />
							<f:param name="direction" value="'right'" />
						</p:effect>
						 -->
					</p:graphicImage>



				</p:column>

				<p:column style="width:25%; border :0px;">
					<p:graphicImage id ="test-#{p.id}"
						value="https://lh3.googleusercontent.com/-g1H59uEdLls/UokhOptvj9I/AAAAAAAANqo/Y-0YNUITvfs/s847/oval-black.png"
						height="50px">
						<!--
						<p:effect event="click" for=":candidateInfoPanel" type="slide">
							<f:param name="mode" value="'show'" />
							<f:param name="direction" value="'top'" />
						</p:effect>
						<p:effect event="click" for="result" type="slide">
							<f:param name="mode" value="'hide'" />
							<f:param name="direction" value="'right'" />
						</p:effect>
						 -->
					</p:graphicImage>
				</p:column>

			</p:selectOneListbox>
		</p:panelGrid> 
		<h:panelGrid columns="2">
		<p:commandButton id="publicVote" disabled="#{!votingBean.canVote}"
			value="Vote Publically" update=":votingForm,:recentVotes,:pieStats"
			actionListener="#{votingBean.votePublically}"  >
		</p:commandButton>  
		<p:commandButton id="privateVote" update=":votingForm,:recentVotes,:pieStats"
			disabled="#{!votingBean.canVote}" value="Vote Anonymously" 
			actionListener="#{votingBean.voteAnonymously}"  /> 
			<p:tooltip for="publicVote">
        If you use this option people <br />will be able to see whome you have voted  
    	</p:tooltip>
    	<p:tooltip
			for="privateVote">
        If you use this option people <br />will NOT be able to see whome you have voted  
    	</p:tooltip>
		</h:panelGrid>
    	</h:panelGrid>
    	<h:panelGrid  id="results" rendered="#{votingBean.showResults}">
    	<h4>What is Next</h4>
    	<ul>
    	<li>Like and share our page using following link</li>
    		<div class="fb-like" data-href="#{votingBean.currentUrl}" data-width="450" data-show-faces="true" data-send="false"></div>
    	<li>Tweet about your vote <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="#{votingBean.currentUrl}" data-text="I have just voted for Delhi, will you #vote4delhi?" >Tweet Now</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
		<li><a href="#" 
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u=#{votingBean.currentUrl}', 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;" >Share on Facebook
</a></li>
<li> get <a href="http://www.eswaraj.com/"><img height="20" src="https://lh4.googleusercontent.com/-dQRtJErpWmM/Uo01IArmwCI/AAAAAAAANrc/AgGtwGBwzwo/s128/icon%20114.png" ></img></a> app on your 
<a href="https://play.google.com/store/apps/details?id=com.next.eswaraj"><img height="20" src="https://lh5.googleusercontent.com/-xDbZoM3tk1g/Uo01S45cwTI/AAAAAAAANro/42Me87fFRog/s128/badge_android.png"></img></a> or 
<a href="https://itunes.apple.com/us/app/eswaraj/id689751495?mt=8"><img height="20" src="https://lh3.googleusercontent.com/-h3I0f97-5Mw/Uo01S7Zmg4I/AAAAAAAANrs/ULM3hs2XZXA/s128/badge_ios.png"></img></a></li>
    		
    	</ul>
    	<p:dataTable var="oneCandidateVote" 
					value="#{votingBean.candidateVotes}">
					<p:column headerText="Party">
						<h:outputText value="#{oneCandidateVote.partyName}" />
					</p:column>

					<p:column headerText="Candidate Name">
						<h:outputText value="#{oneCandidateVote.candidateName}" />
					</p:column>

					<p:column headerText="Vote Percent">
						<h:outputText value="#{oneCandidateVote.votePercent}">
							<f:convertNumber pattern="#0.000" />
						</h:outputText>
					</p:column>

				</p:dataTable>
				<p:commandButton id="changeMyVoteVote" actionListener="#{votingBean.changeMyVote}"
				 update=":votingForm,:recentVotes"
			 value="Change My Vote" rendered="#{votingBean.canVote}"
			  />
    	</h:panelGrid>
    	</h:form>
    	
    	
				
        </div>
        
        
        </div>
        <div class="grid_9 omega ">
        <h5>How to vote</h5>
        <ul>
        	<li>Candidate name may not be available/Not declared but you can still vote for party at that assembly constituency</li>
        	<li>Select the candidate you want to vote</li>
        	<li>If you want to show the world you have voted for your candidate then select "Vote Publically" else select "Vote Anonymously" and your vote will be hidden</li>
        	<li>If you are not logged in you will be taken to Facebook Login</li>
        	<li>If you have not saved your profile, i.e Assembly Constituency, then you will be taken to profile page</li>
        	<li> Once login and profile is done, come back and click on voting button "publically or anonymously" again</li>
        	<li>If something goes wrong, please refresh screen again</li>
        	<li>A message will be displayed after succesfull voting</li>
        </ul>
        
				<!-- 
        	<div class="location">
        	Click on 'Voting' button on left to view candidate information</div>
     		<p:outputPanel id="candidateInfoPanel" layout="block"
			style="width: 400px; height: 200px; display: none;">
			<p:panel header="Panel inside OutputPanel">
				<h1>Applying effect on output-panel.</h1>
			</p:panel>
			
		</p:outputPanel>
		 -->
		<!--         
        <div id="chart_delhi_stat_div" style="width: 400px; height: 300px;"></div>
         -->
        
        </div>
        
        <div class="clear"></div>
        <div class="recentlyVoted grid_8 push_7 row_sec" style="width:450px;">
        <h5>Recently Voted</h5>
        <p:panelGrid columns="2" style="margin-bottom:10px;width:402px;" cellpadding="5" id="recentVotes">
				<f:facet name="header">Recent Votes</f:facet>
				<p:dataTable var="oneUserVote" value="#{votingBean.userVotes}" style="width:400px;">
					<p:column style="width:60px;">
						<p:graphicImage width="50" value="#{oneUserVote.profilePic}" />
					</p:column>
					<p:column style="width:340px;">
						<h:outputText value="#{oneUserVote.votingMessage}" />
						<div class="inline">
							<p:graphicImage width="20" title="Public Vote" value="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/view-20.png" rendered="#{oneUserVote.publicVote}" />
							<p:graphicImage width="20" title="Anonymous Vote" value="https://cdn0.iconfinder.com/data/icons/cosmo-medicine/40/blink-20.png" rendered="#{!oneUserVote.publicVote}" />
					    	<abbr class="timeago" title="#{oneUserVote.votingTime}">#{oneUserVote.votingTime}</abbr> 
					    </div>
					</p:column>

				</p:dataTable>
			</p:panelGrid>
        <!-- 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
			<c:forEach items="${latestVotes}" var="oneVote">
				<tr>
				    <td width="15%" class="jusNow"><img width=40 src="<c:out value='${oneVote.profilePic}' />" /></td>
				    <td width="85%" class="location"><c:out value='${oneVote.votingMessage}' /></td>
				</tr>
			</c:forEach>
</table>
 -->
        </div>
        <div class="grid_9 push_7 stats row_sec">
        <div class="holder">
        <h5>Statistics</h5>
        <h:panelGrid id="pieStats">
        	<p:pieChart id="pie" value="#{votingBean.pieModel}" legendPosition="w"  
                title="#{votingBean.assemblyConstituency.name}" style="width:400px;height:300px" />
        </h:panelGrid>
        <a href="/vote/stats/delhi/#{votingBean.assemblyConstituency.urlName}"> More Stats...</a>
        
        <!-- 
        <img src="/vote/images/v2/stats.jpg" />
         -->
        </div>
        </div>
        <div class="grid_9 push_7 stats row_sec" style="width:800px">
        <div class="holder">
        <h5>Comments and Discussion</h5>
        <div class="fb-comments" data-href="#{votingBean.currentUrl}" data-numposts="10" data-width="700"></div>
        </div>
        </div>
        
    </div>
    
    </div>
    <div class="clear"></div>
    
    </div>
    <!-- header ends -->


    <!-- footer starts -->
    <div class="footerWrapper">
    <div class="container_24">
    <div class="grid_24 panel footer">
    	Copyright &copy; 2013 <a href="#">www.vote4delhi.com</a>. All Rights Reserved.
    </div>
    </div>
    <div class="clear"></div>
    </div>
    <!-- footer ends -->
    
</div>
</div>
	
<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-528b626a7b5e7d93"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    }  
  });
</script>
<!-- AddThis Smart Layers END -->

</h:body>
</html>
