body {
  background: #123;
  color: #333;
  font-size: 11px;
  height: auto;

}

a {
  color: #185699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

p {
  overflow: hidden;
  padding: 0 0 18px 0;
  margin: 0;
}
