@charset "utf-8";
/* CSS Document Styling By : Somnath Nabajja 9833995048 */

body{
    background: #fff;font-size:14px;font-family:arial;line-height:22px;color:#444;
}


.footer{ text-align:center}
.logo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 20px;
    letter-spacing: 5px;
}
.menuWrapper{ background: #185699;}
.menu{ overflow:hidden;}
.menu ul{ display:block; list-style:none; overflow:hidden; margin: 12px 20px 12px 0;}
.menu ul li{ float:left; margin:0 20px 0 0}
.menu ul a{ color: #fff;}
.content .aside .caption{ text-align:center;}
.content .aside div{
    margin: 18px 4px 0 14px;
}
.viewmore{font-weight:bold;font-style:italic;text-decoration:underline}
.content .article .title h2{ text-align:left; padding:0; font-size: 21px; margin: 21px 0 4px 0; line-height: 10px;}
.content .article div{ margin-right:15px;}
.content .article .desc{
    padding: 10px 0;
    text-align: justify;
}
.content .article .viewmore a{ color:#333}

.generalListing { list-style:inside none; display:block; margin: 0 auto; width: 90%; margin-top: 10px;}
.generalListing li{ background: #3C3A3A; margin-bottom: 3px; display:block; padding: 6px 0 6px 10px; margin-left: 0;}
.generalListing li a{ color:#CCC;}
.generalListing_02{ padding-left:20px;}

.sidebar{ margin-left:5px;}

.outerWrapper{ border-top: 6px solid #A01414;}
.headerWrapper{ background:#fafafa; padding: 20px 0; border-bottom: 6px solid #e4e4e4;}

h1,h2,h3,h4,h5,h6{ color:#a01414; margin: 9px 0 10px 0; text-transform:uppercase; border-bottom: 3px solid;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{ color:#a01414;}
.button{
    background: #185699;
    border: none;
    color: #fff;
    padding: 8px;
    border: 3px solid #D7DADB;
    cursor: pointer;
    border-radius: 10px;
}
.voteNowBtn{ text-transform:uppercase; font-size:18px; font-family:Verdana, Geneva, sans-serif; padding:15px 30px}
.recentlyVoted table{ font-size:13px; line-height:18px}
.recentlyVoted small{ line-height:14px}
.recentlyVoted p{ padding:0; margin:0;}
.recentlyVoted td {
    border-bottom: 1px dashed #777;
    padding: 10px 5px;
}

.stats .holder{ width:90%; margin:0 0 0 12px;}
.footerWrapper, .footerWrapper a{ color:#fff;}
.footerWrapper{background:#185699; padding:10px 0}
.row_sec{ margin:20px 0 0 0;}